@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
body{
    background-color: #eee8e4 !important;
    font-family: 'ubuntu',sans-serif !important;
}
.contact-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 5px;
}